<% if @current_user.can_view_stats? %>
  <div class="rounded-square">
    <h2>Last month's stats:</h2>
    <table>
      <tr><td>Orders placed:</td><td class="bold"><%= @orders_last_month.count %></td></tr>
      <tr><td>Orders in progress:</td><td class="bold"><%= @orders_last_month.count { |order| order.order_status_id.between?(1,3) }  %></td></tr>
      <tr><td>Orders completed:</td><td class="bold"><%= @orders_last_month.count { |order| order.order_status_id == 4 }  %></td></tr>
      <tr><td>Orders cancelled:</td><td class="bold"><%= @orders_last_month.count { |order| order.order_status_id == 5 }  %></td></tr>
      <tr>
        <td>Total profit:</td>
        <% monthly_profit = @orders_last_month.select { |order| order.order_status_id == 4 }.inject(0) {|sum, order| sum + (order.amount_from - order.amount_to) } %>
        <td class="bold"><%= monthly_profit ? number_with_delimiter(monthly_profit, delimiter: ' ') : '0' %> gold</td>
      </tr>
    </table>
  </div>
  <div class="rounded-square">
    <h2>This month's stats:</h2>
    <table>
      <tr><td>Orders placed:</td><td class="bold"><%= @orders_this_month.count %></td></tr>
      <tr><td>Orders in progress:</td><td class="bold"><%= @orders_this_month.count { |order| order.order_status_id.between?(1,3) }  %></td></tr>
      <tr><td>Orders completed:</td><td class="bold"><%= @orders_this_month.count { |order| order.order_status_id == 4 }  %></td></tr>
      <tr><td>Orders cancelled:</td><td class="bold"><%= @orders_this_month.count { |order| order.order_status_id == 5 }  %></td></tr>
      <tr>
        <td>Total profit:</td>
        <% monthly_profit = @orders_this_month.select { |order| order.order_status_id == 4 }.inject(0) {|sum, order| sum + (order.amount_from - order.amount_to) } %>
        <td class="bold"><%= monthly_profit ? number_with_delimiter(monthly_profit, delimiter: ' ') : '0' %> gold</td>
      </tr>
    </table>
  </div>
  <div class="rounded-square">
    <h2>Last month's daily log:</h2>
      <table>
        <thead>
          <tr class="bold">
            <td>Username</td><td>From</td><td>To</td><td>Profit</td>
          </tr>
        </thead>
        <tbody>
          <% day = 0; daily_profit = 0 %>
          <% @orders_last_month.select { |order| order.order_status_id == 4 }.each do |order| %>
            <% if order.created_at.day != day && day != 0 %>
              <tr class="bold">
                <td>Daily profit:</td><td></td><td></td><td><%= daily_profit %></td>
              </tr>
              <% daily_profit = 0 %>
            <% end %>
            <% day = order.created_at.day; daily_profit += (order.amount_from - order.amount_to) %>
            <tr>
              <td><%= order.user.name %></td>
              <td><%= number_with_delimiter(order.amount_from, delimiter: ' ') %></td>
              <td><%= number_with_delimiter(order.amount_to, delimiter: ' ') %></td>
              <td><%= number_with_delimiter((order.amount_from - order.amount_to), delimiter: ' ') %></td>
            </tr>
          <% end %>
          <% if @orders_last_month.select { |order| order.order_status_id == 4 }.any? %>
            <tr class="bold">
              <td>Daily profit:</td><td>(<%= day.ordinalize %>)</td><td></td><td><%= number_with_delimiter(daily_profit, delimiter: ' ') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  <div class="rounded-square">
    <h2>This month's daily log:</h2>
    <table>
      <thead>
        <tr class="bold">
          <td>Username</td><td>From</td><td>To</td><td>Profit</td>
        </tr>
      </thead>
      <tbody>
      <% day = 0; daily_profit = 0 %>
      <% @orders_this_month.select { |order| order.order_status_id == 4 }.each do |order| %>
        <% if order.created_at.day != day && day != 0 %>
          <tr class="bold">
            <td>Daily profit:</td><td></td><td></td><td><%= daily_profit %></td>
          </tr>
          <% daily_profit = 0 %>
        <% end %>
        <% day = order.created_at.day; daily_profit += (order.amount_from - order.amount_to) %>
        <tr>
          <td><%= order.user.name %></td>
          <td><%= number_with_delimiter(order.amount_from, delimiter: ' ') %></td>
          <td><%= number_with_delimiter(order.amount_to, delimiter: ' ') %></td>
          <td><%= number_with_delimiter((order.amount_from - order.amount_to), delimiter: ' ') %></td>
        </tr>
      <% end %>
      <% if @orders_this_month.select { |order| order.order_status_id == 4 }.any? %>
        <tr class="bold">
          <td>Daily profit:</td><td>(<%= day.ordinalize %>)</td><td></td><td><%= number_with_delimiter(daily_profit, delimiter: ' ') %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="rounded-square">
    <h2>Overall stats:</h2>
    <table>
      <tr><td>Orders placed:</td><td class="bold"><%= @orders.count %></td></tr>
      <tr><td>Orders in progress:</td><td class="bold"><%= @orders.count { |order| order.order_status_id.between?(1,3) }  %></td></tr>
      <tr><td>Orders completed:</td><td class="bold"><%= @orders.count { |order| order.order_status_id == 4 }  %></td></tr>
      <tr><td>Orders cancelled:</td><td class="bold"><%= @orders.count { |order| order.order_status_id == 5 }  %></td></tr>
      <tr>
        <td>Total profit:</td>
        <% monthly_profit = @orders.select { |order| order.order_status_id == 4 }.inject(0) {|sum, order| sum + (order.amount_from - order.amount_to) } %>
        <td class="bold"><%= monthly_profit ? number_with_delimiter(monthly_profit, delimiter: ' ') : '0' %> gold</td>
      </tr>
    </table>
  </div>
<% end %>
