<% provide(:title, 'My orders') %>
<% @orders.each do |order| %>
    <div class="trade-agreement">
      <div class="from-line label align-right">From:</div>
      <div class="text-world-from from-line bold"><%= order.world_from.name %></div>
      <div class="text-amount-from from-line align-right bold">
        <%= number_with_delimiter(order.amount_from, delimiter: ' ') %> gp
      </div>
      <div class="to-line label align-right">To:</div>
      <div class="text-world-to to-line bold"><%= order.world_to.name %></div>
      <div class="text-amount-to to-line align-right bold">
        <%= number_with_delimiter(order.amount_to, delimiter: ' ') %> gp
      </div>
      <div class="status-line label align-right">Status:</div>
      <div class="status-line status-text"><%= get_order_status_for(order) %></div>
      <div class="name-line player-name">
        <%= link_to order.character_from,
                    "http://www.tibia.com/community/?subtopic=characters&amp;name=#{order.character_from}".html_safe %>
      </div>
      <div class="name-line smuggler-name">
        <%= link_to "Gold Smuggler #{order.world_to.name}",
                    "http://www.tibia.com/community/?subtopic=characters&amp;name=Gold+Smuggler+#{order.world_to.name}".html_safe %>
      </div>
      <div class="name-label-line player-name">Your Tibia character</div>
      <div class="name-label-line smuggler-name">Smuggler's character</div>
    </div>
    <div class="trade-agreement-buttons">
      <% if order.order_status_id == 2 %>
        <div>
          Please click the button below once you have sent your parcel to our Tibia character:
          <%= link_to 'I have sent the parcel', confirm_parcel_path(order),
                      class: 'smuggler-button as-link', data: { confirm: "Click OK if you are sure you have sent the parcel, or 'cancel' if not." } %>
        </div>
      <% end %>
      <% if order.order_status_id.between?(1,2) %>
        <div>
          Click to cancel the order:
          <%= button_to 'Cancel order', order, method: :delete, class: 'smuggler-button',
                        data: { confirm: 'Are you sure you want to remove your order?' } %>
        </div>
      <% end %>
      <% if order.order_status_id > 2 %>
        <div>
          No more actions available.
        </div>
      <% end %>
    </div>
<% end %>
